html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-barcode:before {
    content: "\e040";
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #e7e7e7;
    color: #555555;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333333;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555555;
        background-color: #e7e7e7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}
@media (min-width: 768px) {
    .navbar-nav > li {
        float: left;
    }
}
.navbar-fixed-top{
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-brand>img {
    display: block;
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 15px;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}
.navbar-collapse.in {
    overflow-y: auto;
}
@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}
.navbar-toggle:focus {
    outline: 0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
    .navbar-header {
        float: left;
    }
}

.collapse {
    display: none;
}
.collapse.in {
    display: block;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888888;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-default .navbar-toggle {
    border-color: #dddddd;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.carousel {
    position: relative;
}
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.carousel-inner > .item {
    display: none;
    position: relative;
    -webkit-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        -o-transition: -o-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        left: 0;
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        left: 0;
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}
.carousel-inner > .active {
    left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel-inner > .next {
    left: 100%;
}
.carousel-inner > .prev {
    left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}
.carousel-inner > .active.left {
    left: -100%;
}
.carousel-inner > .active.right {
    left: 100%;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
}
@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 20px;
    }
}
.navbar-default{
    background: #fff;
}
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }

body,ul,ul li,a,p{
    margin: 0;
    padding: 0;

}
ul{
    list-style: none;
}
.navbar{
    margin-bottom: 0;
    border: none;
}
.right{
    float: right;
}
.navbar-nav li a{
    font-size: 18px;
    text-decoration: none;
    height: 45px;
    letter-spacing: 3px;
    color: #000;
    margin-top: 20px;
}
.navbar-brand{
    padding-top: 25px;
    padding-bottom: 20px;
    box-sizing: initial;
}
.navbar-toggle{
    margin-top: 25px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 60px;

}

/* Declare heights because of positioning of img element */
.carousel .item {
}
.carousel-inner > .item > img {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    height: auto;
}
/* MARKETING CONTENT
-------------------------------------------------- */
#myCarousel{
    margin-top: 95px;
    margin-bottom: 55px;
}
#example h2,#projectOffer h2,#service h2,#ourAdvantage h2,#contactUs h2{
    height: 40px;
    margin: 0 auto;
    font-size: 28px;
    line-height: 40px;
    color: #333;
    font-family: PingFangSC-Medium;
    letter-spacing: 1.11px
}
#example h2{
    width: 117px;
}
#example .box{
    width: 1202px;
    height: 630px;
    border: 1px solid #E6E6E6;
    margin-top: 70px;
    margin-left: -15px;
    box-sizing: border-box;
}
.box .left{
    width: 260px;
    height: 630px;
    float: left;
    background: linear-gradient(#2CB5FC,#248CF7);
}
.box .right{
    width: 940px;
    height: 630px;
    float: right;
}
.box .description{
    width: 814px;
    height: 96px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    color: #5C5C5C;
    line-height: 32px;
    margin:10px 68px 10px 58px;
}
.box li{
    width: 260px;
    height: 76px;
    font-size: 18px;
    line-height: 76px;
    padding-left: 30px;
    font-family: PingFangSC-Regular;
    color: #FFF;
}
.box .active{
    font-family: PingFangSC-Regular;
    background: #fff;
    color: #1E96FF;
}
#projectOffer{
    margin-top: 70px;
    width: 100%;
    height: 728px;
    background: #F7F7F8;
    margin-bottom: 55px;
}
#projectOffer h2{
    margin-top: 55px;
    width: 233px;
    margin-bottom: 74px;
}
#projectOffer ul{
    margin-left: 60px;
}
#projectOffer ul li{
    display: inline-block;
    font-size: 20px;
    float: left;
    height: 28px;
    line-height: 28px;
    letter-spacing: 0.79px;
    color: #4D4D4D;
    margin-right: 136px;
    font-family: PingFangSC-Medium;
}
#projectOffer .active{
    color: #1E96FF;
}
#projectOffer .price{
    margin-top: 40px;
}
.price img{
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.08);
}
#service{
    width: 100%;
}
#service h2{
    width: 117px;
}
#service .service-con{
    margin-top: 74px;
    background: url("../img/serviceBg.png") no-repeat;
    height: 495px;
    width: 100%;
}
#service .service-main .service-li{
    height: 495px;
    float: left;
    text-align: center;
}
#service .service-item{
    width: 300px;
    height: 495px;
    display: inline-block;
    background: url("../img/svbg.png") no-repeat;
}
#service .active .service-item{
    background: url("../img/fwBg.png") no-repeat;
}
.service-item .service-img{
    padding-top: 101px;
    padding-bottom: 41px;
}
.service-item p{
    color: #fff;
    line-height: 28px;
    font-family: PingFangSC-Medium;
    font-size: 20px;
    padding-bottom: 240px;
}
.service-main .down-load{
    width: 300px;
    height: 495px;
    float: right;
    display: none;
    background: url("../img/fwBg-down.png") no-repeat;
}
.service-main>.active>.down-load{
    display: block;
}
.service-con .active .service-img{
    padding-top: 172px;
    padding-bottom: 43px;
}
.down-load .load-list li{
    float: left;
}
.down-load .load-item{
    width: 300px;
    height: 165px;
    padding-left: 38px;
    text-align: left;
    box-sizing: border-box;
}
.load-item h4{
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    font-family: PingFangSC-Medium;
    padding-top: 43px;
    padding-bottom: 28px;
    color: #fff;
}
.load-item input{
    width: 80px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #DBEEFF;
    text-align: center;
    line-height: 20px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #1E96FF;
    letter-spacing: 0;
}
.load-item:hover{
    background: #1E85DF;
}
#ourAdvantage h2{
    margin-top: 70px;
    width: 146px;
}
#ourAdvantage .advantage-item{
    float: left;
    margin-top: 64px;
    margin-right: 169px;
}
#ourAdvantage .advantage-item span{
    margin-top: 15px;
    display: block;
    width: 58px;
    height: 20px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    letter-spacing: 0;
}
#contactUs h2{
    margin-top: 65px;
    width: 117px;
}
#contactUs .container{
    margin-top: 64px;
}
#contactUs .leave-message{
    float: left;
}
.leave-message .name{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 70px;
    color: #333;
}
.leave-message .name em{
    color: #C53336;
    font-style: normal;
    padding-right: 3px;
}
.leave-message .number,.leave-message .require{
    width: 500px;
    margin-left: 14px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    text-indent: 19px;
    text-align: left;
}
.leave-message .number {
    height: 40px;
}
.leave-message .require{
    height: 118px;
    max-height: 118px;
    max-width: 500px;
    vertical-align: top;
    resize: none;
}
.leave-message tr{
    display: block;
}
.leave-message .leave-number{
    margin-bottom: 17px;
}
.leave-message .leave-require{
    margin-bottom: 13px;
}
.leave-message .leave-tips{
    margin-bottom: 28px;
}
.leave-message .tips{
    width: 358px;
    height: 17px;
    line-height: 17px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #888888;
}
.leave-message .tips,.leave-message .lsubmit{
    padding-left: 14px;
}
#submit{
    width: 500px;
    height: 50px;
    background: #1E96FF;
    border: none;
    border-radius: 100px;
}

#contactUs .contact-way{
    float: right;
}
.contact-way{
    padding-left: 43px;
    border-left: 1px solid #E8E8E8;
}
.contact-way .contact-ul{
    padding-top: 66px;
    padding-bottom: 50px;
}
.contact-way a{
    text-decoration: none;
    font-family: PingFangSC-Regular;
    color: #666666;
}
.contact-way li{
    display: block;
    text-indent: 30px;
    padding-bottom: 16px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    line-height: 24px;
    vertical-align: text-bottom;
}
.contact-way .mobile{
    background: url("../img/dh.png") no-repeat;
}
.mobile span{
    color: #000000;
}
.contact-way .qq{
    background: url("../img/qq.png") no-repeat;
}
.contact-way .qq{
    background: url("../img/qq.png") no-repeat;
}
.contact-way .we-chat{
    background: url("../img/wx.png") no-repeat;
}
.contact-way .addr{
    background: url("../img/dz.png") no-repeat;
    padding-bottom: 0px;
}
.contact-way .welcome{
    padding-top: 11px;
    padding-bottom: 0px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FF8A1A;
    letter-spacing: 0;
    line-height: 24px;
}
footer{
    margin-top: 71px;
    height: 240px;
    width: 100%;
    background: #262628;
}
footer .footer-top{
    padding-top: 26px;
    padding-bottom: 20px;
    border-bottom: 1px solid #333232;
}
.footer-top .flogo{
    float: left;
}
.footer-top .f-num{
    float: right;
    width: 172px;
    height: 30px;
}
.f-num .num-ico{
    float: left;
    width: 24px;
    height: 24px;
    position: relative;
    top: 3px;
    margin-right: 8px;
}
.f-num .num-text{
    float: left;
}
.num-text .num-title{
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #818487;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 2px;
}
.num-text .num{
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #FA5417;
    letter-spacing: 0;
    line-height: 14px;
}
footer .footer-bottom{
    margin-top: 18px;
}
.bottom-left{
    width: 635px;
    float: left;
}
.bottom-left ul{
    padding-top: 14px;
    margin-bottom: 25px;
}
.bottom-left ul li{
    float: left;
    display: block;
    margin-right: 25px;
}
.bottom-left p{
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #48494B;
    letter-spacing: 0;
    line-height: 12px;
}
.bottom-left a{
    text-decoration: none;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #48494B;
}
.bottom-right{
    float: right;
}
.bottom-right ul li{
    float: left;
    margin-right: 16px;
}
.bottom-right li p{
    margin-top: 8px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #818487;
    letter-spacing: 0;
    line-height: 14px;
}